.que.qportugol textarea.qtype_qportugol_response {
    width: 100%;
}
.que.qportugol textarea.qtype_qportugol_response.qtype_qportugol_plain {
    white-space: pre-wrap;
    font: inherit;
}
.que.qportugol textarea.qtype_qportugol_response.qtype_qportugol_monospaced {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}
.que.qportugol .qtype_qportugol_response {
    min-height: 3em;
}
.que.qportugol .qtype_qportugol_response.readonly {
    background-color: white;
}
.que.qportugol div.qtype_qportugol_response textarea {
    width: 100%;
}
